# .env.example
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

MY_EMAIL=your-email@mail.ru
EMAIL_PASSWORD=your-email-password

# SQLite по умолчанию
DATABASE_URL=sqlite:///db.sqlite3

# PostgreSQL
# DATABASE_URL=postgres://user:password@localhost:5432/mydb

# MySQL
# DATABASE_URL=mysql://user:password@localhost:3306/mydb

VK_CLIENT_ID=12345678
VK_CLIENT_SECRET=your_vk_secret

OK_CLIENT_ID=123456789
OK_CLIENT_SECRET=your_ok_secret
OK_CLIENT_PUBLIC_KEY=your_ok_public_key
